.infoParagraph{
  font-size:1.5em;
  width:80%;
}

.eightywidth{
  width:80%;
}

h4{
  font-size:2.5em;
  text-decoration:underline;
  }

/* project log start */
table.greyGridTable {
  border: 2px solid #FFFFFF;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.greyGridTable td, table.greyGridTable th {
  border: 1px solid #FFFFFF;
  padding: 10px 4px;
}
table.greyGridTable tbody td {
  font-size: 13px;
}
table.greyGridTable td:nth-child(even) {
  background: #EBEBEB;
}
table.greyGridTable thead {
  background: #FFFFFF;
  border-bottom: 4px solid #333333;
}
table.greyGridTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #333333;
  text-align: center;
  border-left: 2px solid #333333;
}
table.greyGridTable thead th:first-child {
  border-left: none;
}

table.greyGridTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  border-top: 4px solid #333333;
}
table.greyGridTable tfoot td {
  font-size: 14px;
}
/*end of project log */

/* project assets start */
.sitemapImg{
  width:100%;
}
/* end of project assets section */


/* team member section start */
.headshot{
  width: 200px;
  height: 200px;
}
.card-body{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
}
/* end of team member section */

/* Timesheet start */
iframe {
  width: 100%;
  height: 100%;
}
/* End of timesheet */
