.infoParagraph{
  font-size:1.5em;
  width:80%;
}

.eightywidth{
  width:80%;
}

h4{
  font-size:3em;
  text-decoration:underline;
  }

/* team member section start */
.headshot{
  width: 200px;
  height: 200px;
}

.card-body{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  column-gap: 20px;
}
/* end of team member section */
