html{
    background-color:#F3F3F3;

}

main{
  background-color:#F3F3F3;
}

.container{
  background-color:white;
  box-shadow: 10px 10px 5px lightgray;
  border-radius:1%;
}


/*Styling Headings */
h2{
  margin-top:3%;
  text-align:center;
}
h3{
  margin-top:3%;
  text-align:left;
}
h3{
  margin-top:3%;
}


/*Styling nav bar */
nav li{
  list-style-type:none;
}
a.nav-link{
  margin-right:80px;
}

.navbar {
  justify-content:space-between;
}

/* Styling group member headshots */
img.headshot{
  max-width:100px;
}

/* Styling sitemap image */
.assetImg{
  width:100%;
}

/*Styling each section */
section{
  background-color:white;
  width:50%;
  border-left:1px solid black;
  padding-left:15px;
}
p{width:100%;}

/*Styling footer */
.footnote{
  margin-top:10%;
  text-align:center;
}
.somethingVisionaryLogo{
  width:200px;
}
